 
<div class="container">
    <div class="grid">
        <div class="col">
            <p-button  icon="pi pi-bars"  type="button" (click)="display = true"   class="p-button-rounded"></p-button>
            </div>
            <div class="col">
                {{fauth.usuario}}
            </div>
        <div class="col">
            <p-button (click)="salir()" label="Logout"></p-button>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="display" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>

    <p-listbox [options]="cities" [(ngModel)]="selectedCity" (click)="display = false" (onChange)="onCitySelect(selectedCity)"    optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
    
</p-sidebar>
<div class="container">
    <router-outlet></router-outlet>
</div>